[Desktop Entry]
Name=Nova Music
Comment=A music player written in the libcosmic toolkit
Type=Application
Icon=dev.riveroluna.novamusic
Exec=nova-music %F
Terminal=false
StartupNotify=true
Categories=MUSIC
Keywords=MUSIC
MimeType=
