[Desktop Entry]
Name=Nova Music
Comment=A music player written in the libcosmic toolkit
Type=Application
Icon=dev.riveroluna.NovaMusic
Exec=nova-music %F
Terminal=false
StartupNotify=true
Categories=Audio;AudioVideo
Keywords=Music
MimeType=
