[Desktop Entry]
Version=1.0
Type=Application

Name=Nova Music 
Comment=A music player written in the libcosmic toolkit
Categories=AudioVideo;Player;

Icon=dev.riveroluna.NovaMusic
Exec=nova-music
Terminal=false
